$primary-color: #444;
$secondary-color: rgb(24, 163, 255);
$white-color: rgb(245, 245, 245);
$dark-color: #333;
$showcase-image: url('./assets/img/showcase.jpg');

@mixin easeOut {
  transition: all 0.5s ease-in-out;
}

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return $dark-color;
  } @else {
    @return #fff;
  }
}

// Media Query Mixins
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-small-desktop-up {
  @media (max-width: 1000px) {
    @content;
  }
}
@mixin for-small-laptop-up {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
