@import '../../scss/config';

.btn {
  text-align: center;
  position: absolute;
  background: rgba($dark-color, 0.8);
  color: #fff;
  font-size: 1rem;
  font-family: cinzel, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 20px;
  margin-top: 300px;
  z-index: 100;

  &:hover {
    background: rgba($white-color, 0.8);
    color: $dark-color;
    transform: scale(1.1);
  }
}
